@font-face {
  font-family: "DMSerifDisplay-Regular";
  font-display: swap;
  font-weight: 400;
  src: url(./../../fonts/DMSerifDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 300;
  src: url(./../../fonts/Rubik-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 400;
  src: url(./../../fonts/Rubik-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 500;
  src: url(./../../fonts/Rubik-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 700;
  src: url(./../../fonts/Rubik-Bold.ttf) format("truetype");
}
h2 {
  font-family: "DM Serif Display";
  font-size: 30px;
  line-height: 43px;
  font-weight: 400;
  color: #402B2B;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #ED4D47;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.p_testi {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
}
.p_testi_bold {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #402B2B;
}

.p_foot {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
}

.text-xl {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 400;
  color: white;
}

.text-xl-2 {
  font-size: 1.4rem;
  line-height: 110%;
  font-weight: 400;
  color: white;
}

.text-menu__normal {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: normal;
  color: white;
}

.text-menu__bold {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: bold;
  color: white;
}

.text-l {
  font-size: 2rem;
  line-height: 100%;
  font-weight: bold;
  color: #EE4D47;
}

.m-regular-200 {
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: normal;
  color: black;
}

.text-l-bold {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: bold;
  color: black;
}

.text-m-bold {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: 500;
  color: black;
}

.text-m-regular {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: 400;
  color: black;
}

.text-m-light-200 {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 300;
  color: black;
}

.text-m-bold-200 {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: bold;
  color: black;
}

@media (min-width: 640px) {
  .text-xl {
    font-size: 5rem;
  }

  .text-xl-2 {
    font-size: 2.4rem;
    line-height: 110%;
  }

  .m-regular-200 {
    font-size: 1.3rem;
    line-height: 105%;
  }

  .text-l-bold {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 768px) {
  .text-xl {
    font-size: 6rem;
  }

  .text-xl-2 {
    font-size: 2.8rem;
    line-height: 120%;
  }

  .text-l {
    line-height: 26px;
  }

  .m-regular-200 {
    font-size: 1.6rem;
    line-height: 110%;
  }

  .text-l-bold {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 960px) {
  .text-xl {
    font-size: 8rem;
  }

  .text-xl-2 {
    font-size: 3.6rem;
    line-height: 130%;
  }

  .text-l {
    font-size: 2.1rem;
    line-height: 32px;
  }

  .m-regular-200 {
    font-size: 1.8rem;
    line-height: 32px;
  }

  .text-l-bold {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .text-xl {
    font-size: 10rem;
  }

  .text-xl-2 {
    font-size: 4.8rem;
    line-height: 140%;
  }

  .text-l {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .m-regular-200 {
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .text-l-bold {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .text-m-bold .text-m-regular {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #FEF8F5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn {
  max-width: 22rem;
  max-height: 6rem;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background-color: #EE4D47;
  border-radius: 0.5rem;
  border: 0px;
  letter-spacing: 0.05px;
  border: none;
}

.hr {
  width: 1rem;
  height: 12rem;
  background-color: #EE4D47;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.arrow {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  fill: #ED4D47;
}

.s__media {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.3rem;
  background: #ED4D47;
  border: none;
  border-radius: 0.8rem;
  fill: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (min-width: 500px) {
  .container {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 850px) {
  .container {
    padding: 0 6rem;
  }
}
.footer__wrapper {
  position: relative;
  max-width: 140rem;
  background-color: #0F264C;
  border-top-right-radius: 3rem;
}
.footer__content {
  max-width: 102.4rem;
  margin-bottom: 5rem;
}
.footer__content .mobile {
  max-width: 50%;
  position: absolute;
  top: -7rem;
}
.footer__txt {
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__txt__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 104rem;
  margin: 8rem 3rem 0 3rem;
}
.footer__txt__info p {
  margin-left: 3rem;
}
.footer__txt__form {
  max-width: 55rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}
.footer__txt__form .input {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  background: #fff;
  border: 1px solid #ED4D47;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
  border-radius: 5px;
}
.footer__txt__form .label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
}
.footer__nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.footer__nav-img {
  max-width: 30%;
  margin: 3rem 0;
}
.footer__nav__list-item {
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.copyright {
  max-width: 120rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright__text {
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
  color: #0F264C;
}
.copyright__media {
  width: 17rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header {
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background-repeat: no-repeat;
  background: linear-gradient(297.17deg, #FFEDBA 6.67%, #EE4D47 91.82%);
}
.header .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .logo {
  z-index: 2;
}
.header .menu .background__image {
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
}
.header .menu .truck {
  display: none;
}
.header .menu .img__people {
  display: none;
}
.header .menu .nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 2;
}
.header .menu .nav .header__menu {
  display: flex;
  align-items: center;
}
.header .menu .nav .header__menu .menu__item {
  text-align: center;
  margin: 1rem 2rem;
}
.header .menu .nav .contact {
  display: none;
}
.header .header__cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.header .header__cta .paragraph {
  font-family: "DMSerifDisplay-Regular";
  color: white;
  text-align: center;
  padding: 2rem 0;
}

@media (min-width: 640px) {
  .header {
    padding: 3rem 1rem;
  }
  .header .menu {
    flex-direction: row;
  }
  .header .menu .nav {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 1200px;
    height: 51rem;
    justify-content: flex-start;
    align-items: flex-start;
    background: none;
  }
  .header .menu {
    padding-left: 5rem;
  }
  .header .menu .background__image {
    max-width: 100%;
    display: block;
    position: absolute;
    left: -5.5rem;
  }
  .header .menu .nav {
    margin: 0 rem;
    padding-left: 2rem;
  }
  .header .menu .nav .contact {
    display: inline;
  }
  .header .menu .nav .header__menu .menu__item {
    margin: 1rem 2rem;
  }
  .header .header__cta {
    align-items: flex-start;
    padding-left: 5rem;
  }
  .header .header__cta .paragraph {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .header {
    height: 60rem;
  }
  .header .menu {
    padding-left: 4.5rem;
  }
  .header .menu .nav .menu__item {
    padding: 1rem 3rem;
  }
  .header .menu .nav .contact {
    margin-left: 5rem;
  }
  .header .header__cta {
    padding-left: 7.5rem;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 71.5rem;
  }
  .header .menu {
    padding-left: 15.7rem;
  }
  .header .menu .nav .header__menu .menu__item {
    margin: 0 3rem;
  }
  .header .header__cta {
    padding-left: 15.7rem;
    padding-top: 7rem;
  }
}
@media (min-width: 1400px) {
  .header {
    margin-bottom: 50rem;
  }
  .header .menu {
    padding-left: 20.7rem;
  }
  .header .menu .nav .header__menu .menu__item {
    margin-left: 10rem;
  }
  .header .menu .truck {
    display: inline;
    position: absolute;
    top: 80rem;
    left: -21.4rem;
    z-index: 3;
  }
  .header .header__cta {
    padding-left: 20.7rem;
  }
}
@media (min-width: 1400px) {
  @keyframes truckRide {
    0% {
      left: -41.4rem;
    }
    100% {
      left: -6.4rem;
    }
  }
  .header .menu .truck {
    display: inline;
    position: absolute;
    top: 80rem;
    left: -6.4rem;
    z-index: 5;
    animation: truckRide 1.5s ease-out;
  }
}
@media (min-width: 1400px) {
  @keyframes peopleAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .header .menu .img__people {
    display: inline;
    position: absolute;
    top: 40rem;
    left: 74.5rem;
    z-index: 4;
    animation: peopleAppear 2s ease-in;
  }
}
.post {
  padding: 1rem;
  margin-top: 3rem;
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__img {
  max-width: 30rem;
}
.post__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
.post__info p {
  text-align: center;
}
.post__info .post__text {
  padding-top: 2rem;
  line-height: 3rem;
}
.post__info .info-box--blue {
  margin: 0;
}
.post__info .footer__info-box--blue {
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: #FCDDD4;
  border-radius: 1rem;
}
.post__info .footer__info-box--blue .hr {
  width: 2rem;
  height: 7rem;
  margin-right: 0.5rem;
}
.post__info .footer__info-box--blue .text-left {
  text-align: left;
  line-height: 2rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10rem 0 18rem 0;
}
.testimonials__head {
  margin-right: 2rem;
}
.testimonials__head .p_orange {
  margin-bottom: 3rem;
}
.testimonials__clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.testimonials__clients__switch {
  margin-bottom: 3rem;
}
.testimonials__clients__switch .arrow-left {
  margin-right: 2rem;
}
.testimonials__clients__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials__clients__list--item {
  padding: 2rem;
  max-width: 42rem;
  max-height: 36rem;
  margin-bottom: 2rem;
  background: #fff;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  border: none;
}
.testimonials__clients__list--item__content {
  margin-bottom: 3rem;
}
.testimonials__clients__list--item__client {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.testimonials__clients__list--item__client .client {
  margin-right: 2rem;
}

@media screen and (min-width: 800px) {
  .testimonials__clients__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .testimonials__clients__list--item {
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
