@font-face {
  font-family: "DMSerifDisplay-Regular";
  font-display: swap;
  font-weight: 400;
  src: url("./../../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 300;
  src: url("./../../fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 400;
  src: url("./../../fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 500;
  src: url("./../../fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-weight: 700;
  src: url("./../../fonts/Rubik-Bold.ttf") format("truetype");
}
.text-xl {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 400;
  color: white;
}

.text-xl-2 {
  font-size: 1.4rem;
  line-height: 110%;
  font-weight: 400;
  color: white;
}

.text-menu__normal {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: normal;
  color: white;
}

.text-menu__bold {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: bold;
  color: white;
}

.text-l {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: bold;
  color: orange;
}

.m-regular-200 {
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: normal;
  color: black;
}

.text-l-bold {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: bold;
  color: black;
}

.text-m-bold {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: 500;
  color: black;
}

.text-m-regular {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: 400;
  color: black;
}

.text-m-light-200 {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 300;
  color: black;
}

.text-m-bold-200 {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: bold;
  color: black;
}

@media (min-width: 640px) {
  .text-xl {
    font-size: 5rem;
  }

  .text-xl-2 {
    font-size: 2.4rem;
    line-height: 110%;
  }

  .text-l {
    font-size: 1.5rem;
  }

  .m-regular-200 {
    font-size: 1.3rem;
    line-height: 105%;
  }

  .text-l-bold {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 768px) {
  .text-xl {
    font-size: 6rem;
  }

  .text-xl-2 {
    font-size: 2.8rem;
    line-height: 120%;
  }

  .text-l {
    font-size: 1.8rem;
    line-height: 26px;
  }

  .m-regular-200 {
    font-size: 1.6rem;
    line-height: 110%;
  }

  .text-l-bold {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 960px) {
  .text-xl {
    font-size: 8rem;
  }

  .text-xl-2 {
    font-size: 3.6rem;
    line-height: 130%;
  }

  .text-l {
    font-size: 2.1rem;
    line-height: 32px;
  }

  .m-regular-200 {
    font-size: 1.8rem;
    line-height: 32px;
  }

  .text-l-bold {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .text-xl {
    font-size: 10rem;
  }

  .text-xl-2 {
    font-size: 4.8rem;
    line-height: 140%;
  }

  .text-l {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .m-regular-200 {
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .text-l-bold {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .text-m-bold + .text-m-regular {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .text-m-light-200 + .text-m-bold-200 {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn {
  display: flex;
  align-items: center;
  padding: 21px 24px 20px 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  background-color: #EE4D47;
  color: #fff;
  border-radius: 0.5rem;
  letter-spacing: 0.05px;
}

.hr {
  width: 1rem;
  height: 16rem;
  background-color: #EE4D47;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.info-box {
  display: flex;
  background-color: #FCDDD4;
  opacity: 0.4;
}
.info-box__text {
  padding: 3rem 5.5rem;
  color: #402B2B;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.info-box--blue {
  display: flex;
  margin: 10rem 9.5rem 0 0;
}
.info-box__text--blue {
  color: #fff;
  padding-left: 4rem;
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify;
  align-items: center;
}

.footer {
  padding-top: 100px;
  padding-right: 100px;
}
.footer__wrapper {
  max-width: 1400px;
  background-color: #0F264C;
  border-top-right-radius: 3rem;
}
.footer__container {
  margin-right: 136px;
  margin-left: 240px;
}
.footer__content {
  max-width: 1024px;
}
.footer__info-wrapper {
  display: flex;
}

.header {
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background: linear-gradient(297.17deg, #FFEDBA 6.67%, #EE4D47 91.82%);
  background-repeat: no-repeat;
}
.header .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .logo {
  z-index: 2;
}
.header .menu .background__image {
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
}
.header .menu .truck {
  display: none;
}
.header .menu .img__people {
  display: none;
}
.header .menu .nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 2;
}
.header .menu .nav .header__menu {
  display: flex;
  align-items: center;
}
.header .menu .nav .header__menu .menu__item {
  text-align: center;
  margin: 1rem 2rem;
}
.header .menu .nav .contact {
  display: none;
}
.header .header__cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.header .header__cta .paragraph {
  font-family: "DMSerifDisplay-Regular";
  color: white;
  text-align: center;
  padding: 2rem 0;
}

@media (min-width: 640px) {
  .header {
    padding: 3rem 1rem;
  }
  .header .menu {
    flex-direction: row;
  }
  .header .menu .nav {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 1200px;
    height: 51rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header .menu {
    padding-left: 7rem;
  }
  .header .menu .background__image {
    max-width: 100%;
    display: block;
    position: absolute;
  }
  .header .menu .nav {
    margin: 0 rem;
  }
  .header .menu .nav .contact {
    display: inline;
  }
  .header .menu .nav .header__menu .menu__item {
    margin: 1rem 3.5rem;
  }
  .header .header__cta {
    align-items: flex-start;
    padding-left: 7rem;
  }
  .header .header__cta .paragraph {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .header {
    height: 60rem;
  }
  .header .menu {
    padding-left: 12.7rem;
  }
  .header .menu .nav {
    padding: 0 15rem;
  }
  .header .menu .nav .contact {
    margin-left: 5rem;
  }
  .header .header__cta {
    padding-left: 12.7rem;
    padding-top: 7rem;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 71.5rem;
  }
  .header .menu {
    padding-left: 15.7rem;
  }
  .header .menu .nav {
    padding: 0 0 0 27.2rem;
  }
  .header .menu .nav .header__menu .menu__item {
    margin: 0 5rem;
  }
  .header .header__cta {
    padding-left: 15.7rem;
    padding-top: 7rem;
  }
}
@media (min-width: 1400px) {
  .header .menu {
    padding-left: 20.7rem;
  }
  .header .menu .truck {
    display: inline;
    position: absolute;
    top: 80rem;
    left: -21.4rem;
    z-index: 3;
  }
  .header .header__cta {
    padding-left: 20.7rem;
  }
}
.footer__form {
  background-color: #fff;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 1400px) {
  @keyframes truckRide {
    0% {
      left: -41.4rem;
    }
    100% {
      left: -6.4rem;
    }
  }
  .header .menu .truck {
    display: inline;
    position: absolute;
    top: 80rem;
    left: -6.4rem;
    z-index: 5;
    animation: truckRide 1.5s ease-out;
  }
}
@media (min-width: 1400px) {
  @keyframes peopleAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .header .menu .img__people {
    display: inline;
    position: absolute;
    top: 40rem;
    left: 74.5rem;
    z-index: 4;
    animation: peopleAppear 2s ease-in;
  }
}

/*# sourceMappingURL=style.css.map */
