.btn {
    max-width: 22rem;
    max-height: 6rem;
    @include font(12px, 17px, 700, $color-white);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    background-color: $color-red-100;
    border-radius: 0.5rem;
    border: 0px;
    letter-spacing: 0.05px;
    border: none;
}