@font-face {
    font-family: "DMSerifDisplay-Regular";
    font-display: swap;
    font-weight: 400;
    src: url("./../../fonts/DMSerifDisplay-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-weight: 300;
    src: url("./../../fonts/Rubik-Light.ttf") format("truetype"),
}

@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-weight: 400;
    src: url("./../../fonts/Rubik-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-weight: 500;
    src: url("./../../fonts/Rubik-Medium.ttf") format("truetype"),
}

@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-weight: 700;
    src: url("./../../fonts/Rubik-Bold.ttf") format("truetype"),
}

.text-xl {
    @include text(4rem, 100%, 400, white);
}

.text-xl-2 {
    @include text(1.4rem, 110%, 400, white);
}

.text-menu__normal {
    @include text(1.6rem, 19px, normal, white);
}

.text-menu__bold {
    @include text(1.6rem, 19px, bold, white);
}

.text-l {
    @include text(1.4rem, 100%, bold, orange);
}

.m-regular-200 {
    @include text(1.2rem, 100%, normal, black);
}

.text-l-bold {
    @include text(1.3rem, 100%, bold, black);
}

.text-m-bold {
    @include text(1.3rem, 100%, 500, black);
}

.text-m-regular {
    @include text(1.3rem, 100%, 400, black);
}

.text-m-light-200 {
    @include text(1.4rem, 100%, 300, black);
}

.text-m-bold-200 {
    @include text(1.4rem, 100%, bold, black);
}

@media (min-width: 640px) {
    .text-xl {
        font-size: 5rem;
    }

    .text-xl-2 {
        font-size: 2.4rem;
        line-height: 110%;
    }

    .text-l {
        font-size: 1.5rem;
    }

    .m-regular-200 {
        font-size: 1.3rem;
        line-height: 105%;
    }

    .text-l-bold {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .text-m-bold+.text-m-regular {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }

    .text-m-light-200+.text-m-bold-200 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@media (min-width: 768px) {
    .text-xl {
        font-size: 6rem;
    }

    .text-xl-2 {
        font-size: 2.8rem;
        line-height: 120%;
    }

    .text-l {
        font-size: 1.8rem;
        line-height: 26px;
    }

    .m-regular-200 {
        font-size: 1.6rem;
        line-height: 110%;
    }

    .text-l-bold {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .text-m-bold+.text-m-regular {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .text-m-light-200+.text-m-bold-200 {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}

@media (min-width: 960px) {
    .text-xl {
        font-size: 8rem;
    }

    .text-xl-2 {
        font-size: 3.6rem;
        line-height: 130%;
    }

    .text-l {
        font-size: 2.1rem;
        line-height: 32px;
    }

    .m-regular-200 {
        font-size: 1.8rem;
        line-height: 32px;
    }

    .text-l-bold {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .text-m-bold+.text-m-regular {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .text-m-light-200+.text-m-bold-200 {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}

@media (min-width: 1280px) {
    .text-xl {
        font-size: 10rem;
    }

    .text-xl-2 {
        font-size: 4.8rem;
        line-height: 140%;
    }

    .text-l {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .m-regular-200 {
        font-size: 1.8rem;
        line-height: 4rem;
    }

    .text-l-bold {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .text-m-bold+.text-m-regular {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .text-m-light-200+.text-m-bold-200 {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}