@mixin text($font-size, $line-height, $font-weight: normal, $color: $color-black) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;

    @if ($color-white !=$color-black) {
        color: $color;
    }
}

@mixin font($size, $line, $weight, $color, $font: false) {
    @if ($font) {
        font-family: $font;
    }

    font-size: $size;
    line-height: $line;
    font-weight: $weight;
    color: $color;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}