// colors variables

$color-white: #fff;
$color-black: #000;

$color-light-100: #E5E5E5;
$color-light-200: #FDEDE8;
$color-light-300: #FCDDD4;

$color-dark-100: #402B2B;
$color-dark-200: #0F264C;

$color-red-100: #EE4D47;