// colors variables

$color-white-100: #fff;
$color-white-200: #E5E5E5;

$color-red-100: #EE4D47;

$color-peach-100: #FCDDD4;
$color-peach-200: #FDEDE8;

$color-dark-100: #402B2B;
$color-dark-200: #0F264C;