.post {
    padding: 1rem;
    margin-top: 3rem;
    font-family: 'Rubik';
    display: flex;
    flex-direction: column;

    .post__img {
        max-width: 20rem;
    }

    .post__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
        }

        .post__text {
            padding-top: 2rem;
        }

        .info-box--blue {
            margin: 0;
        }

        .footer__info-box--blue {
            padding-top: 1rem;

            .hr {
                width: 2rem;
                height: auto;
                margin-right: .5rem;
            }

            .text-left {
                text-align: left;
            }
        }
    }
}