.testimonials {
  @include flex(column, center, flex-start);
  margin: 10rem 0 18rem 0;

  &__head {
    margin-right: 2rem;

    .p_orange {
      margin-bottom: 3rem;
    }
  }

  &__clients {
    @include flex(column, center, center);
    margin-top: 3rem;

    &__switch {
      margin-bottom: 3rem;

      .arrow-left {
        margin-right: 2rem;
      }
    }

    &__list {
      @include flex(column, center, center);

      &--item {
        padding: 2rem;
        max-width: 42rem;
        max-height: 36rem;
        margin-bottom: 2rem;
        background: $color-white;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        border: none;

        &__content {
          margin-bottom: 3rem;
        }

        &__client {
          @include flex(row, flex-start, center);

          .client {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 800px) {
  .testimonials {
    &__clients {
      &__list {
        @include flex(row, center, stretch);

        &--item {
          margin-right: 2rem;
        }
      }
    }
  }
}